---
---
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@charset "utf-8";

/* Constants */
$font-size-body: 16px;

/* Colors */
$dark: #36393b;
$clear: white;
$accent: #dab49b;
$secondary: #634d55;

html, body {
    height: 90%;
}

body {
    /* General styles */
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $dark;
    text-align: justify;
}

a {
    position: relative;
    display: inline-block;
    color: $dark;
    text-decoration: none;
    transition-delay: 1s;
    transition: opacity .2s ease, transform .3s ease;
    &:before{
        content: "";
        position: absolute;
        background: #f255c0;
        width: 15px;
        height: 1.5px;
        bottom: 0;
        transform: translate(0%, 0%);
        transition: all .3s ease;
        z-index: -1;
    }
    &:hover{
        &:before{
            width: 100%;
        }
    }
}

span.lang {
    font-size: 12px;
}

// Default layout
div.go-home {
  margin: 10px 0 0 10px;
  svg {
    display: inline-block;
    width: $font-size-body * 4;
    height: $font-size-body * 4;
    vertical-align: middle;
  }
}

div.page-content {
    padding: 20px 20px;
    height: 100%;
}

// index.html
div.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    img.photo {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 3px solid;
        margin-right: 40px;
    }
    div.main-container {
        display: flex;
        div.info-container {
            max-width: 700px;
            h2, h4 { font-family: "Fira Sans", sans-serif; }
        }
    }

    div.social-container {
        a {
            text-decoration: none;
            &:hover{
                opacity: 0.8;
            }
            &:before { content: none; }
        }

        svg {
            margin-right: 20px;
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 800px) {
    div.home{
        img.photo {
            width: 50vw;
            height: 50vw;
            margin-right: 0;
            margin-bottom: 20px;
        }
        div.go-home {
          margin: 10px 0 0 10px;
          svg {
            display: inline-block;
            width: "100%";
            height: "100%";
            vertical-align: middle;
          }
        }
        div.main-container{
            flex-direction: column;
            align-items: center;
            div.info-container {
                text-align: center;
                p {
                    text-align: left;
                }
                h2,h4 {
                    margin: 10px;
                }
            }
        }
    }
}
