div.home-page {
    text-align: center;
    img.photo {
        border-radius: 50%;
    }
    p.social {
        margin-top: 20px;
        a {
            padding: 0px 5px;
            span{
                display: inline-block;
                width: 25px;
                vertical-align: middle;
            }
        }
    }
}
