---
---
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;700&display=swap');

@charset "utf-8";

/* Constants */
$font-size-body: 18px;

/* Colors */
$dark: #36393b;
$clear: white;
$accent: #e26f83;
$secondary: #634d55;
$gray: #B0B0B0;
$pink: #f255c0;
$yellow: #ab7e0e;

html, body {
    max-width: 1366px;
    margin: 0 auto;
}

::selection {
    color: $clear;
    background: $dark;
}

body {
    /* General styles */
    font-family: "Inter", sans-serif;
    font-size: $font-size-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $dark;
    text-align: justify;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-align: center;
}
h1 {
    font-size: $font-size-body * 1.6;
}
h2 {
    margin-top: 2em;
    font-size: $font-size-body * 1.4;
}
h3 {
    font-size: $font-size-body * 1.2;
}
h4 {
    font-size: $font-size-body * 1.1;
}
h5,h6,p {
    font-size: $font-size-body;
}

a {
    color: $dark;
    text-decoration: none;
    &:hover{
        opacity: 0.7;
        color: $accent;
    }
}

// Default layout
div.go-home {
  svg {
    width: 115px;
    height: 115px;
    margin-top: -2px;
  }
  a:hover { opacity: 1; }
}

div.courtain {
    background-color: #34343A;
    width: 115px;
    height: 115px;
    margin-top: -8px;
}

div.page-content {
    height: 100%;
}

// index.html
div.home {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    justify-content: space-around;
    div.circle {
        border-radius: 50%;
        border: 3px solid #34343A;
        margin-top: -135px;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        img.photo{
            position: absolute;
            width: 200px;
            height: 200px;
        }
    }

    div.main-container {
        display: flex;
        flex-direction: column;
        max-width: 542px;
        align-items: center;
    }

    div.social-container {
        display: flex;
        justify-content: space-between;
        svg {
            margin-left: 16px;
            width: 30px;
            height: 30px;
        }
        h5 { margin-bottom: 0; }
        div{
            display: flex;
            a {
                display: flex;
                text-align: center;
                flex-direction: column;
                &:hover{
                        opacity: 1;
                    span {
                        opacity: 1;
                        top: 30px;
                    }
                }
                span {
                    opacity: 0;
                    display: inline-block;
                    position: relative;
                    top: 15px;
                    left: 0;
                    left: 8px;
                    height: 0;
                    font-family: "Inter";
                    color: $pink;
                    -webkit-transition: top .2s ease-in-out;
                    transition: top .2s ease-in-out;
                }
            }
        }
    }
}

div.secondary-container {
    margin: 50px 0;
    max-width: 542px;
    div.section-container {
        display: flex;
        border-top: solid $gray 2px;
        h5,p {
            margin: 30px 0;
            line-height: 1.4;
        }

        div.cv-container {
            display: flex;
            width: 100%;
            div.cv-language-container {
                display: flex;
                flex: 1;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    a.section-link {
        color: $dark;
        div {
            padding-left: 0;
            transition: 0.2s;
        }
        div:hover {
            padding-left: 10px;
        }
    }

    ul.post-list {
        list-style-type: none;
    }

    a.post-link {
        color: $dark;
        display: flex;
        width: 70%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear;
        h5 {
            text-align: left;
            margin:0;
        }
        div {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            padding-right: 0;
            padding-left: 20px;
            p {
                margin: 10px 0;
                white-space: nowrap;
                font-size: 80%;
                font-weight: 700;
            }
        }
        &:hover {
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
            transform: scale(1.01);  
            color: $dark;
        }
    }
}

@media (max-width: 1200px) {
    div.home{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 542px) {
    div.home{
        padding: 0 20px;
        h2 {
            letter-spacing: 5px;
        }
    }
    div.main-container, div.secondary-container {
        width: 100%;
    }
}
