---
layout: default
---

<div class="home">
    <div class="main-container">
        <img class="photo" src="https://avatars.githubusercontent.com/u/38321649?v=4" >
        <div class="info-container">
            <h2>{{ site.title }}</h2>
            <h4>Coding, videogames and chinese food lover</h4>
            <p>
            I'm a mechatronics engineering student at UPIITA - IPN in Mexico, interested in cyber security and mobile development.
            </p>
            <p>
            If you are a classmate of mine, you might be interested in my <a href="{{ site.link_to.notes }}">notes</a>.
            </p>
            <div class="social-container">
                <a href="{{ site.link_to.github }}">{% include icons/github.svg %}</a>
                <a href="mailto:{{ site.email }}">{% include icons/mail.svg %}</a>
            </div>
        </div>
    </div>
</div>
